@charset "UTF-8";
.mainvisual-title_facilities::before {
  content: "FACILITIES";
}
@media (max-width: 1299px) {
  .js-tab-switch.is-active {
    bottom: unset;
  }
  .js-tab-switch_bottom.is-active {
    top: unset;
  }
  .js-tab-switch.is-active::after {
    display: none;
  }
  .js-tab-switch_bottom.is-active::after {
    display: none;
  }
}

.title-h2_entrance::before {
  content: "ENTRANCE";
}
/* コンシェルジュ */
.title-h2_concierge::before {
  content: "CONCIERGE";
}

.entrance__subvisual {
  width: 90%;
  max-width: 816px;
  margin: 0 auto 30px;
}
.entrance-intro__photo-list {
  width: 90%;
  max-width: 1004px;
  margin: 0 auto;
}
.entrance-intro__photo-item:first-of-type {
  margin-bottom: 10px;
}
.entrance .sec2.concierge .row-box {
  margin-top: 0;
}
.entrance .sec2.concierge .left-box {
  width: 100%;
}
.entrance .sec2.concierge .right-box {
  margin-left: 0;
}
.entrance .concierge .ca-title h4 {
  text-align: center;
}
.concierge-caption__text {
  display: block;
  font-size: 1.2rem;
}
.entrance-intro__photo-list {
  width: 90%;
  max-width: 1004px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .entrance-intro__photo-list {
    display: flex;
    justify-content: space-between;
  }
  .entrance-intro__photo-item {
    width: calc((100% - 30px) / 2);
  }
  .entrance .sec2.concierge .left-box {
    width: 45%;
  }
  .entrance .sec2.concierge .right-box {
    margin-left: 5%;
  }

  .entrance-intro__photo-item:first-of-type {
    margin: 0;
  }
  .entrance__concierge-inner .item-box {
    margin-bottom: 80px;
  }
  .concierge-caption {
    display: flex;
  }

  .concierge-caption__text {
    width: 48%;
  }
  .entrance-intro__photo-list {
    display: flex;
    justify-content: space-between;
  }
}

/* sec3 */
.service-unit {
  padding: 20px 2% 35px;
}
.service-unit:nth-of-type(odd) {
  background-color: #faf5c7;
}
.service-unit:nth-of-type(even) {
  background-color: #f9f7e8;
}
.service-unit .text {
  width: 95%;
}
.ac-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
}
.ac-item .box_2 {
  width: 49%;
}
.ac-item .text {
  font-size: 1.3rem;
  line-height: 1.7;
}
.ac-item .item-box__title {
  width: unset;
}

.ac-item .box {
  height: 0;
  opacity: 0;
  margin: 0;
  transition: all 0.1s ease-out;
}
#sec3-menu:checked ~ .ac-item > .box {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}
.ac-item .box .item-box__photo {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
  transition: all 0.1s ease-out;
}
#sec3-menu:checked ~ .ac-item > .box > .item-box__photo {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}

.ac-item .box .item-box__title {
  height: 0;
  opacity: 0;
  margin: 0;
  transition: all 0.1s ease-out;
}
#sec3-menu:checked ~ .ac-item > .box > .item-box__title {
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
  transition: all 0.1s ease-out;
}

.ac-item .box .text {
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
}
#sec3-menu:checked ~ .ac-item > .box > .text {
  height: auto;
  opacity: 1;
  transition: all 0.1s ease-out;
}

.ac-label {
  border: 1px solid #808080;
  width: 275px;
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}
.ac-label::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #808080;
  border-right: 2px solid #808080;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
}
#sec3-menu:checked ~ .ac-item {
  height: auto;
  opacity: 1;
  margin-top: 50px;
  transition: all 0.1s ease-out;
}
#sec3-menu:checked + .ac-label::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}
@media (min-width: 768px) {
  .service-unit .text {
    width: 100%;
  }
  .ac-item .box_2 {
    width: calc((100% - 45px) / 4);
  }
}
/* sec4 */
/* .entrance .sec4.concierge .box {
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
} */
#sec4-menu:checked ~ .ac-item > .box {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}
.entrance .sec4.concierge .ac-item {
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
}
#sec4-menu:checked ~ .ac-item {
  height: auto;
  opacity: 1;
  margin-top: 50px;
  transition: all 0.1s ease-out;
}
#sec4-menu:checked ~ .ac-item > .box > .item-box__photo {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}
#sec4-menu:checked ~ .ac-item > .box > .item-box__title {
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
  transition: all 0.1s ease-out;
}
#sec4-menu:checked ~ .ac-item > .box > .text {
  height: auto;
  opacity: 1;
  transition: all 0.1s ease-out;
}
#sec4-menu:checked + .ac-label::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

/* sec5 */
/* .entrance .sec5.concierge .box {
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
} */
#sec5-menu:checked ~ .ac-item > .box {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}
.entrance .sec5.concierge .ac-item {
  height: 0;
  opacity: 0;
  transition: all 0.1s ease-out;
}
#sec5-menu:checked ~ .ac-item {
  height: auto;
  opacity: 1;
  margin-top: 50px;
  transition: all 0.1s ease-out;
}
#sec5-menu:checked ~ .ac-item > .box > .item-box__photo {
  height: auto;
  opacity: 1;
  margin-bottom: 15px;
  transition: all 0.1s ease-out;
}
#sec5-menu:checked ~ .ac-item > .box > .item-box__title {
  height: auto;
  opacity: 1;
  margin-bottom: 10px;
  transition: all 0.1s ease-out;
}
#sec5-menu:checked ~ .ac-item > .box > .text {
  height: auto;
  opacity: 1;
  transition: all 0.1s ease-out;
}

#sec5-menu:checked + .ac-label::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

@media (min-width: 768px) and (max-width: 829px) {
  .tab-section_service .item-box {
    display: block;
  }
  .tab-section_service .box_2 {
    width: 90%;
    margin: 0 auto 50px;
  }
  .tab-section_service .right-box {
    width: 60%;
  }
}

/* テレワークルーム */
.title-h2_telework::before {
  content: "TELEWORK ROOM";
}

/* スカイガーデン */
.title-h2_sky::before {
  content: "SKY GERDEN";
}
.entrance .sky p {
  font-size: 1.5rem;
  line-height: 1.75;
}
.entrance .sec4.sky {
  margin-bottom: 70px;
}
.entrance .sky {
  max-width: 1004px;
  margin: 0 auto 70px;
}
.entrance .sec3.sky {
  padding: 0;
  margin-bottom: 50px;
}
.entrance .sec4.sky {
  padding-bottom: 0;
}
.entrance .sec3.sky .left h4 span {
  margin-left: 0;
}
.sky__title {
  font-size: 1.7rem;
  line-height: 1.7;
  margin-bottom: 20px;
}
.sec3 .sky__photo {
  margin-bottom: 15px;
}
.green-unit__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
}
.green-unit__text {
  margin-bottom: 10px;
}
.sky-inner__item:first-of-type {
  margin-bottom: 40px;
}
.entrance .sec3.sky p {
  margin-top: 0;
}
.entrance .sec4.sky p {
  font-size: 1.5rem;
  line-height: 1.75;
}
.entrance .sky .text {
  margin-bottom: 15px;
}
.entrance .sec6.sky {
  padding: 0;
}
.sky-section-bg {
  max-width: 1008px;
  background-color: #f4f3e9;
  padding: 20px 10px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .entrance .sec3.sky .sky__photo {
    width: calc((470 / 1004) * 100%);
  }
  .entrance .sec3.sky .blk {
    max-width: 1004px;
    margin: 0 auto;
  }
  .entrance .sec3.sky .blk:not(:last-child) {
    margin-bottom: 70px;
  }
  .entrance .sec3.sky .left {
    padding: 0;
  }
  .sky__flex {
    display: flex;
    justify-content: space-between;
  }
  .sky__flex_reverse {
    flex-direction: row-reverse;
  }
  .entrance .sky__text {
    display: flex;
    width: calc((469 / 1004) * 100%) !important;
    flex-direction: column;
    justify-content: center;
  }
  .entrance .sec3.sky p {
    margin-top: 0;
  }
  .sky__title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  .entrance h4 {
    font-size: 1.8rem;
  }
  .entrance .sec3.sky .left h4 {
    font-size: 1.8rem;
  }
  .entrance .sec3.sky {
    margin-bottom: 80px;
  }
  .entrance .sec4.sky .photo {
    max-width: 1004px;
    margin: 0 auto 40px;
  }
  .clearfix:after {
    display: none;
  }
  .sky-inner__list {
    display: flex;
    max-width: 816px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .sky-inner__item:first-of-type {
    margin: 0;
  }
  .sky-inner__item {
    width: calc((378 / 816) * 100%);
  }
  .green-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .green-unit__photo {
    width: 80%;
  }
  .sky_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  .sky__text-area {
    width: calc((470 / 1004) * 100%);
  }
  .entrance .sky_flex .sky__photo {
    width: calc((470 / 1004) * 100%);
  }
}

/* ペット */
.title-h2_pet::before {
  content: "FOR PET";
}

.entrance .sec4.pet {
  padding: 0;
  margin-bottom: 100px;
}
.pet__photo_sec3 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .entrance .sky {
    margin-bottom: 100px;
  }
  .entrance .sec3.pet .img {
    width: 48%;
  }
  .pet__photo {
    width: 48%;
  }
  .pet__flex {
    display: flex;
    justify-content: space-between;
  }
  .pet__text-area {
    width: 48%;
  }
  .section__lead_pet {
    text-align: left;
  }
  .entrance .sec4.sky,
  .entrance .sec4.pet {
    border-bottom: none;
    margin-bottom: 100px;
  }
  .pet__photo_sec3 {
    margin-bottom: 0;
  }
}
/* エントランス */
.entrance .title-h3 {
  text-align: center;
}
@media (min-width: 768px) {
  .entrance .title-h3 {
    text-align: left;
  }
}

/* シアター＆カラオケ */
.title-h2_theater::before {
  content: "THEATER & KARAOKE";
  font-size: 3.2rem;
}
.theater__photo {
  width: 90%;
  max-width: 816px;
  margin: 0 auto 30px;
}
.presence {
  background-color: #eae9d8;
  padding: 30px 20px;
}
.presence__photo {
  margin: 0 auto 20px;
}
.presence__photo_01 {
  width: 70%;
}
.presence__photo_02 {
  width: 50%;
}
.presence__photo_03 {
  width: 100%;
}
.presence-unit {
  line-height: 1.75;
  margin-bottom: 30px;
}
.presence-unit__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.presence-unit__text {
  font-size: 1.3rem;
}
.presence-unit__text-list {
  display: block;
}
.photo-cap {
  font-size: 1rem;
  margin-top: 5px;
}
.hikaritv {
  margin-bottom: 50px;
}
.hikaritv__logo {
  width: 70%;
  margin: 0 auto 20px;
}
.hikaritv__photo {
  margin-bottom: 20px;
}
.entrance .sec2.theater {
  padding-bottom: 0;
}
.hikaritv__title {
  margin-bottom: 25px;
}
.hikaritv-unit__text {
  border: 1px solid var(--text-black);
  padding: 10px;
  margin-bottom: 10px;
}
.hikaritv__text {
  margin-bottom: 20px;
}
.text_hikaritv {
  font-size: 1.3rem;
}
.theater__list {
  display: flex;
  width: 90%;
  max-width: 1004px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .title-h2_theater::before {
    font-size: 5rem;
  }
  .presence {
    padding: 30px 30px;
    margin: 0 auto 100px;
  }
  .presence__inner {
    display: flex;
  }
  .presence__section:last-of-type {
    width: calc((335 / 1004) * 100%);
    margin-left: 3%;
  }
  .presence__section:first-of-type {
    flex: 1;
  }

  .presence-unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .presence-unit_reverse {
    flex-direction: row-reverse;
  }
  .presence-unit_column {
    flex-direction: column;
    justify-content: flex-start;
  }
  .presence__photo {
    margin: 0;
  }
  .presence__photo_01 {
    width: 28%;
  }
  .presence__photo_02 {
    width: 28%;
  }
  .presence__photo_03 {
    margin-bottom: 15px;
  }
  .presence-unit__text-area {
    width: 70%;
  }
  .page {
    margin-bottom: 150px;
  }
  .hikaritv {
    display: flex;
  }
  .hikaritv__text {
    margin-bottom: 30px;
  }
  .text_hikaritv {
    font-size: 1.5rem;
  }
  .hikaritv__title {
    margin-bottom: 0;
    margin-right: 5%;
  }
  .hikaritv-unit__text {
    width: 90%;
    text-align: center;
    padding: 6px;
  }
}

/* テレワークルーム */
.sdio-intro {
  width: 100%;
  line-height: 1.8;
  text-align: center;
  background: linear-gradient(
    90deg,
    #f0f7d3 0%,
    #fdfff0 48.23%,
    #f0f7d2 98.58%
  );
  padding: 40px 0;
  margin-bottom: 35px;
}
.sdio-intro__text {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.sdio-intro__lead {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.sdio-intro__title {
  font-size: 2rem;
  font-weight: 600;
}
.homework__sdio-content {
  padding: 0 5%;
  margin-bottom: 30px;
}
.homework__sdio-title {
  font-weight: 600;
  margin-bottom: 30px;
}
.homework__sdio-photo {
  max-width: 816px;
  margin: 0 auto 30px;
}
.homework__sdio-photo-list {
  display: flex;
  width: 90%;
  max-width: 1004px;
  justify-content: space-between;
  margin: 0 auto;
}
.homework__sdio-photo-item {
  width: calc((100% - 10px) / 2);
}
.homework .text {
  font-size: 1.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .homework {
    margin-bottom: 150px;
  }
  .sdio-intro {
    padding: 50px 0;
    margin-bottom: 80px;
  }
  .sdio-intro__text {
    font-size: 1.6rem;
  }
  .sdio-intro__lead {
    font-size: 1.8rem;
  }
  .sdio-intro__title {
    font-size: 2.4rem;
  }
  .homework__sdio-content {
    margin-bottom: 40px;
  }
  .homework__sdio-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  .homework__sdio-photo {
    margin: 0 auto 80px;
  }
  .homework__sdio-photo-item {
    width: calc((100% - 30px) / 2);
  }
  .homework .text {
    font-size: 1.6rem;
  }
}
/* フィットネスジム */
.title-h2_fitness::before {
  content: "FITNESS GYM";
}
.fitness__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
.box_fitness {
  width: calc((100% - 20px) / 2);
  margin-bottom: 20px;
}
.fitness__item-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 5px 0;
}
@media (min-width: 768px) {
  .box_fitness {
    width: calc((100% - 60px) / 4);
  }
}

/* ピットインガレージ */
.title-h2_garage::before {
  content: "PIT IN GARAGE";
}
