@charset "UTF-8";

footer .footer {
  width: 100vw;
  background: linear-gradient(180deg, #8f864b 0%, #bda933 100%);
}
.footer {
  color: #fff;
}
footer .footer .f-inner {
  width: 90%;
}
.footer .footer-btm .copy {
  color: #fff;
}
.footer__property-logo {
  width: 250px;
  margin: 0 auto 15px;
}
.footer__property-name {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 500;
}
footer .footer .cv-bottom .tel-area {
  color: #fff;
  float: unset;
}
footer .footer a {
  color: #fff;
}
.display_pc {
  display: none;
}
footer .footer-btm .f-left {
  width: 166px;
}

.footer__link {
  display: block;
}
@media (min-width: 768px) {
  .display_pc {
    display: inline-block;
  }
  .footer__property-logo {
    width: 290px;
  }
  .footer__logo-area {
    margin-bottom: 50px;
  }
  .footer__property-name {
    font-size: 1.8rem;
  }
  .footer .footer-btn::before {
    display: none;
  }
  /* footer .footer .cv-bottom .cv .footer-btn > div {
    border: #fff 1px solid;
    background: unset;
  } */
  footer .footer .cv-bottom .cv .link > div:first-child {
    border-right: #fff 1px solid;
  }
  .footer .footer-btm {
    padding: 0 30px;
  }
  .cv-bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer-inner {
  }
  .footer-link {
    margin-bottom: 20px;
  }
  .footer-btn {
    display: flex !important;
  }
  .footer-btn__link {
    display: block;
    border: #fff 1px solid;
    background: unset;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    width: 170px;
    margin-right: 10px;
  }
}
.f-left {
  float: unset;
}
footer .footer .cv-bottom .tel-area .time {
  color: #fff;
}
footer .footer ul > li div > a {
  display: block;
  padding: 5px 0;
}
footer .footer hr {
  width: 100%;
}
footer .footer .cv-bottom .tel-area .tel a {
  display: block;
  margin-bottom: 10px;
}
