@charset "UTF-8";
.mainvisual-title_location::before {
  content: "LOCATION";
}
.title-h2_location::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-size: cover;
}
.title-h2_vacinity::before {
  width: 216.21px;
  height: 37px;
  background-image: url(../svg/location/vacinity-map.svg);
  background-size: cover;
}
.title-h2_south::before {
  width: 227px;
  height: 40px;
  background-image: url(../svg/location/south.svg);
  background-size: contain;
}

.title-h2_location .select {
  bottom: -5px;
}
.select-bottom {
  top: -5px;
}
.select::after {
  display: block;
  content: "";
  width: 10px;
  height: 7px;
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  background-color: #151515;
  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, 100%);
}
.select-bottom::after {
  display: block;
  content: "";
  width: 10px;
  height: 7px;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background-color: #151515;
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translate(-50%, -100%);
}

.one_tab:first-of-type {
  margin-left: 3px;
}
.one_tab:nth-of-type(3n) {
  margin-right: 3px;
}
.one_tab:nth-of-type(3n + 1) {
  margin-left: 3px;
}
.intro__lead_location {
  font-size: calc((17 / 375) * 100vw);
}
@media (min-width: 768px) {
  .title-h2_vacinity::before {
    width: 270px;
    height: 45px;
  }
  .title-h2_south::before {
    width: 270px;
    height: 50px;
  }
}

/* 近隣エリア */
/* Access */
.access {
  margin-bottom: 70px;
}
.access__photo {
  max-width: 816px;
  margin: 0 auto 25px;
}
.access__photo_map {
  border: 1px solid var(--text-black);
}
.access__section {
  padding: 0;
  margin-bottom: 70px;
}
.access__section:last-of-type {
  margin-bottom: 0;
}
.access__text-area {
  max-width: 816px;
  border-top: 1px solid #9f934b;
  padding-top: 20px;
  margin: 0 auto;
}
.access__text {
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.access__inner {
  margin-bottom: 60px;
}
.access__inner:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .access {
    margin-bottom: 100px;
  }
  .access__photo {
    width: 90%;
    margin-bottom: 20px;
  }
  .access__section {
    padding: 0;
    margin-bottom: 100px;
  }
  .access__inner {
    margin-bottom: 100px;
  }
  .access__text-area {
    display: flex;
  }
  .access__text {
    flex: 1;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .fs02 {
    font-size: calc((32 / 768) * 100vw);
  }
  .fs03 {
    font-size: calc((28 / 768) * 100vw);
  }
  .fs05 {
    font-size: calc((20 / 768) * 100vw);
  }
  .fs06 {
    font-size: calc((14 / 768) * 100vw);
  }
  .fs01 {
    font-size: calc((58 / 768) * 100vw);
  }
}

.shop-section {
  max-width: 1010px;
  margin: 0 auto 60px;
}
.shop-section__photo {
  margin-bottom: 10px;
}
.shop-section__photo:last-of-type {
  margin-bottom: 20px;
}

.shop-section__text-area {
}
.shop-section__title {
  font-size: 3.2rem;
  color: var(--title-brown);
  margin-bottom: 20px;
}
.shop-section__title_small {
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  .shop-section__photo {
  }
  .shop-section__title {
    font-size: 3.5rem;
  }
  .shop-section__title_small {
    font-size: 2.5rem;
  }
  .shop-section__text-area {
    width: calc((440 / 1010) * 100%);
    max-width: 440px;
  }
  .shop-section__text-area_full {
    width: 100%;
    max-width: unset;
  }
  .shop-section__text-area_end {
    text-align: end;
  }
  .shop-section__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .shop-section__inner_rev {
    flex-direction: row-reverse;
  }
  .shop-section__photo_flex {
    width: calc((500 / 1010) * 100%);
  }
  .shop-section-wrapper {
    display: flex;
    max-width: 1010px;
    justify-content: space-between;
    margin: 0 auto;
  }
  .shop-section_flex {
    width: calc((100% - 50px) / 2);
    margin: 0;
  }
}

/* Life information */
.life-info {
  margin-bottom: 100px;
}
.life-info__photo-area {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.life-info__main {
  display: none;
}
.life-info__list {
  width: 90%;
  max-width: 1004px;
  margin: 0 auto;
}
.life-info__item {
}
.life-info-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.life-info-unit__name {
  font-size: 1.8rem;
  font-weight: 500;
}
.life-info-unit__info {
  font-size: 1.3rem;
  font-weight: 500;
}
.life-info-unit__photo {
  order: -1;
  margin-bottom: 15px;
}
.title-h3_life-info {
  text-align: center;
}
.tab-section__text-area_life-info {
  width: 100%;
  max-width: 683px;
  margin: 0 auto 30px;
}
.slick-prev,
.slick-next {
  bottom: -20px;
}
.prev,
.next {
  display: none;
  position: absolute;
  bottom: 0;
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}
.prev::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 3px solid var(--green);
  border-right: 3px solid var(--green);
  -webkit-transform: rotate(45deg);
  transform: rotate(225deg);
  cursor: pointer;
}
.next::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 3px solid var(--green);
  border-right: 3px solid var(--green);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}

@media (min-width: 768px) {
  .life-info {
    margin-bottom: 150px;
  }
  .tab-section__text-area_life-info {
    width: 100%;
    max-width: 683px;
    margin: 0 auto 50px;
  }
  .life-info__photo-area {
    display: flex;
    width: 90%;
    max-width: 1004px;
    margin: 0 auto;
  }
  .life-info__main {
    display: flex;
    width: 53%;
    flex-direction: column;
    align-items: center;
    margin: 0 4% 0 0;
    position: relative;
  }
  .life-info__main-name {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .life-info__main-info {
    font-size: 1.3rem;
  }
  .life-info__main-photo {
    order: -1;
    margin-bottom: 15px;
  }

  .life-info__list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .life-info__item {
    width: calc((100% - 20px) / 5);
    margin: 0 5px 5px 0;
    cursor: pointer;
  }
  .life-info__item:nth-of-type(5n) {
    margin-right: 0;
  }

  .life-info-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
  }
  .life-info-unit__name {
    visibility: hidden;
    height: 0;
  }
  .life-info-unit__info {
    visibility: hidden;
    height: 0;
  }
  .life-info-unit__photo {
    margin-bottom: 0;
  }
  .active {
    filter: brightness(0.5);
  }
  .thumbnail {
    flex: 1;
  }
  .prev,
  .next {
    display: block;
  }

  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }

  .prev::before {
    position: absolute;
    left: 3px;
    bottom: 15px;
  }
  .next::before {
    position: absolute;
    right: 3px;
    bottom: 15px;
  }
}

/* 市電エリア */
.streetcar__lead {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.streetcar__text {
  width: calc(100% - 20px);
  margin: 0 auto 40px;
}
@media (min-width: 768px) {
  .streetcar__lead {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
  .streetcar__text {
    max-width: unset;
    text-align: center;
    margin: 0 auto 150px;
  }
  .streetcar__text-block {
    display: inline-block;
  }
}

.area-section {
  width: calc(100% - 10px);
  max-width: 1150px;
  background-color: #fbf9f7;
  padding: 0 0 30px;
  margin: 0 0 100px auto;
  /* position: relative; */
}
.area-section:last-of-type {
  margin-bottom: 0;
}
.area-section__photo-title {
  font-size: 1.3rem;
  color: var(--white);
  background-color: rgba(51, 51, 51, 0.7);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
}
.area-section__top-photo,
.area-section__photo-item {
  position: relative;
}
.area-section__top-photo {
  width: calc(100% + 10px);
  margin: 0 -10px 10px;
}
.area-section__photo-list {
  width: calc(100% - 10px);
  margin: 0 0 15px auto;
  position: relative;
  top: -50px;
}
.slick-dots li button:before {
  width: 8px;
  height: 8px;
}
.slick-dots {
  bottom: -30px;
}
.slick-slider {
  margin-bottom: -10px;
}
.area-section__title {
  font-size: 5rem;
  text-align: end;
  color: var(--title-brown);
  margin-bottom: 15px;
}
.area-section__title_small {
  font-size: 2.2rem;
}
.area-section__text-area {
  width: calc((300 / 335) * 100%);
  margin: 0 10px 0 auto;
}
.area-section__text {
  text-align: end;
}
.area-section:nth-of-type(even) {
  margin: 0 auto 100px 0;
}
.area-section:nth-of-type(even) > .area-section__photo-list {
  margin: 0 auto -10px 0;
}
.area-section:nth-of-type(even) > .area-section__text-area {
  margin: 0 auto 0 10px;
}
.area-section:nth-of-type(even)
  > .area-section__text-area
  > .area-section__title {
  text-align: start;
}
.area-section:nth-of-type(even)
  > .area-section__text-area
  > .area-section__text {
  text-align: start;
}
.area-section__photo-list_top {
  top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .area-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0;
    margin: 0 20px 150px auto;
  }
  .area-section:nth-of-type(odd) {
    display: flex;
    flex-direction: row-reverse;
  }
  .area-section:first-of-type {
    display: block;
    padding: 0 0 60px;
  }
  .area-section__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .area-section__photo-list {
    width: calc((700 / 1150) * 100%);
    margin: 0 -20px 0 55px;
  }
  .area-section__text-area {
    width: calc((390 / 1150) * 100%);
    margin: 0 0 0 auto;
  }
  .area-section__title {
    margin: 0 0 30px auto;
  }
  .area-section__title-span {
    display: inline-block;
    letter-spacing: -0.1em;
  }
  .area-section:nth-of-type(even) {
    margin: 0 auto 100px 20px;
  }
  .area-section:nth-of-type(even) > .area-section__photo-list {
    margin: 0 auto -10px -20px;
  }
  .area-section:nth-of-type(even) > .area-section__text-area {
    margin: 0 auto 0 0;
  }
  .area-section:nth-of-type(even)
    > .area-section__text-area
    > .area-section__title {
    margin: 0 auto 30px 0;
  }

  .area-section__top-photo {
    width: 100%;
    margin: 0 -20px -30px auto;
    position: relative;
    top: -50px;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  .area-section__title {
    font-size: 4rem;
    margin-bottom: 15px;
  }
  .area-section__photo-list {
    width: calc((700 / 1150) * 100%);
    margin: 0 -20px 0 30px;
  }
  .area-section:nth-of-type(even) > .area-section__photo-list {
    margin: 0 30px -10px -20px;
  }
  .area-section__text-area {
    width: 35%;
  }
}
.br_area {
  display: none;
}
@media (min-width: 1210px) {
  .br_area {
    display: block;
  }
}
